@font-face {
	font-family: ProximaNovaLight;
	src: url("fonts/Proxima Nova Light.otf");
	font-weight: normal;
}

@font-face {
	font-family: ProximaNovaBold;
	src: url("fonts/Proxima Nova Bold.otf");
	font-weight: bold;
}

@font-face {
	font-family: ProximaNovaSemibold;
	src: url("fonts/Proxima Nova Semibold.otf");
	font-weight: bold;
}

@font-face {
	font-family: RalewayLight;
	src: url("fonts/raleway-light_[allfont.ru].ttf");
	font-weight: light;
}

@font-face {
	font-family: RalewayMedium;
	src: url("fonts/raleway-medium_[allfont.ru].ttf");
	font-weight: normal;
}

@font-face {
	font-family: UbuntuMedium;
	src: url("fonts/ubuntu-medium_[allfont.ru].ttf");
	font-weight: normal;
}

@font-face {
	font-family: UbuntuLight;
	src: url("fonts/Ubuntu-Light.ttf");
	font-weight: normal;
}

@font-face {
	font-family: OpenSansRegular;
	src: url("fonts/open-sans_[allfont.ru].ttf");
	font-weight: normal;
}

@font-face {
	font-family: OpenSansLight;
	src: url("fonts/open-sans-light_[allfont.ru].ttf");
	font-weight: normal;
}

@font-face {
	font-family: FontAwesome;
	src: url("fonts/FontAwesome.otf");
}

html,
body {
	margin: 0;
	padding: 0;
	background: #ecedf1;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	max-width: 1180px;
	min-width: 225px;
	margin: 0 auto;
}

.header-bottom__container {
	box-shadow: 1000px 0 0 #344d71;
}

.container_right {
	margin: 0 0 0 auto;
}

.header {
	width: 100%;
	box-sizing: border-box;
}

.header-top {
	font-family: ProximaNovaBold;
	text-transform: uppercase;
	color: #344d71;
	font-size: 30px;
	width: 100%;
	height: 75px;
	line-height: 75px;
}

.header-top__logo {
	float: left;
	display: inline-block;
	height: 100%;
}

.header-top__social {
	float: right;
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}

.header-top__social-link {
	display: inline-block;
	width: 23px;
	height: 23px;
	margin-right: 19px;
}

.social-link_in {
	background: url("img/soc-sprite.png") no-repeat 0 0;
}

.social-link_fb {
	background: url("img/soc-sprite.png") no-repeat -46px 0;
}

.social-link_twi {
	background: url("img/soc-sprite.png") no-repeat -94px 0;
}

.menu-icon {
	display: none;
    float: right;
    text-align: center;
    width: 70px;
    height: 70px;
    border-left: 1px solid #c8c8c8;
}

.menu-icon span {
    display: inline-block;
    margin: 50% 0;
    width: 16px;
    height: 3px;
    background: #344d71;
}

.menu-icon span::before,
.menu-icon span::after {
    content: "";
    display: block;
    width: 100%;
}

.menu-icon span::before {
    width: 16px;
    height: 3px;
    background: #344d71;
    transform: translate(0, -6px);
}

.menu-icon span::after {
    width: 16px;
    height: 3px;
    background: #344d71;
    transform: translate(0, 3px);
}

.header-bottom {
	margin: 0 0 0 auto;
	width: 100%;
	height: 54px;
	font-family: ProximaNovaLight;
	line-height: 54px;
}

.header-bottom__left {
	float: left;
	width: 75%;
	height: 100%;
	box-sizing: border-box;
	padding-right: 40px;
	background: #ffffff;
}

.header-bottom__email {
	float: right;
	margin: 0;
	color: #83969f;
	font-size: 14px;
}

.header-bottom__handset {
	float: left;
	width: 60px;
	height: 54px;
	background: #de9e20 url("img/fa-phone.png") no-repeat 50% 50%;
}

.header-bottom__right {
	float: right;
	width: 25%;
	height: 54px;
	box-sizing: border-box;
	padding-right: 10px;
	text-align: right;
	background: #344d71;
}

.header-bottom__tel-number {
	text-decoration: none;
	height: 54px;
	font-size: 25px;
	color: #ffffff;
	word-wrap: normal;
	line-height: 54px;
	text-align: center;
}

.container_main-menu {
	background: #f6b431;
	box-shadow: 1000px 0 0 #f6b431;
}

.main-menu {
	max-width: 760px;
	height: 80px;
}

.main-menu_mob {
	display: none;
}

.main-menu__list {
	display: table;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: ProximaNovaLight;
	font-size: 16px;
	
}

.main-menu__item {
	position: relative;
	display: table-cell;
	vertical-align: middle;
}

.main-menu__item span {
	visibility: hidden;
}

.main-menu__link {
	color: #ffffff;
	text-decoration: none;
}

.main-menu__item:first-child .main-menu__link {
	background: url(img/fa-home.png) no-repeat 25px 3px;
}

.main-menu__disclosure-list {
	cursor: pointer;
}

.disclosure-list__arrow {
	transform: translate(12px, 12px) rotate(-180deg);
	transition: all ease 1s;
}

.disclosure-list__arrow-out {
	transform: translate(0, 0) rotate(0);
	transition: all ease 1s;
}

.main-menu__second-lvl {
	display: none;
	position: absolute;
	z-index: 2;
	color: #344d71;
}

.main-menu__link_second {
	color: #344d71;
}

.content-top {
	position: relative;
	width: 100%;
	height: 820px;
}

.content-top__bg {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 819px;
	background: url('img/content-top-bg.png') -90px -98px;
}

.container_content-top {
	position: relative;
	height: 100%;
	padding-top: 82px;
	box-sizing: border-box;
	background: #f6b431;
	box-shadow: 1000px 0 0 #f6b431;
}

.content-top__title-block {
	z-index: 1;
	position: absolute;
	right: 0;
	box-sizing: border-box;
	padding-right: 20px;
	width: 400px;
	font-family: RalewayLight;
	color: #ffffff;
}

.title-block__title {
	margin: 0;
	margin-bottom: 22px;
	font-size: 40px;
}

.title-block__text {
	font-family: ProximaNovaLight;
	font-size: 20px;
	margin: 0;
}

.container_content-top__bottom {
	display: flex;
	height: 100%;
	position: relative;
	background: #83969f;
	vertical-align: middle;
	box-shadow: -1000px 0 0 0 #83969f;
}

.content-top__bottom-text {
	width: 100%;
	height: 107px;
}

.bottom-tex__par {
	font-family: ProximaNovaLight;
	font-size: 20px;
	width: 500px;
	color: #ffffff;
	display: block;
	margin: auto auto auto 40px;
}

.bottom-text__link {
	display: inline-block;
	text-decoration: none;
	color: #ffffff;
	border-bottom: 1px solid;
}

.content-top__contact-block {
	margin-top: -315px;
	display: flex;
	width: 400px;
	height: 422px;
	font-family: RalewayMedium;
	color: #ffffff;
	background: #344d71;
}

.contact-block__wrapper {
	margin: auto;
	width: 280px;
	height: 320px;
}

.contact-block__title {
	margin: 0;
	font-family: ProximaNovaLight;
}

.contact-block__text {
	margin: 6px 0 27px 0;
	font-family: ProximaNovaLight;
	font-size: 14px;
}

.contact-block__arrow {
	margin: auto;
}

.contact-block__arrow-link {
	color: #ffffff;
	font-size: 60px;
	text-decoration: none;
}


.contact-block__label {
	font-family: UbuntuLight;
	font-size: 13px;
}

.input-field {
	width: 100%;
	height: 43px;
	border-radius: 2px;
	border: none;
	margin: 5px 0 13px 0;
}

.input-submit {
	height: 52px;
	background: #f6b431;
	border-radius: 4px;
}

.input-submit[value] {
	text-transform: uppercase;
	font-family: ProximaNovaLight;
	font-size: 14px;
	color: #ffffff;
}

.content-middle {
	font-family: ProximaNovaLight;
	font-size: 14px;
	color: #61757f;
	line-height: 26px;
}

.content-middle__blocks-top {
	display: flex;
	width: 100%;
	height: 492px;
}

.content-middle__block {
	position: relative;
	float: left;
	padding: 40px 40px 56px 40px;
	height: 494px;
	box-sizing: border-box;
	/*display: flex;*/
}

.content-middle__block_left,
.content-middle__block_right {
	background: #ffffff;
}

.content-middle__block_left {
	width: 400px;
}

.content-middle__block_center {
	width: 380px;
	background: #fbfbfb;
}

.content-middle__block_right {
	position: relative;
	display: block;
	width: 400px;
}

.content-middle__block-wrapper {
	/*display: flex;*/
	/*flex-direction: column;*/
	/*justify-content: space-between;*/
	/*flex: none;*/
	/*margin: auto;*/
	/*width: 80%;*/
	/*height: 86%;*/
}

.content-middle__title {
	margin: 0 0 26px 0;
	font-family: OpenSansLight;
	font-size: 20px;
	color: #63727a;
}

.content-middle__par {
	margin: 0;
}

.content-middle__par_right {
	margin-top: 25px;
}

.content-middle__button {
	position: absolute;
	bottom: 56px;
	margin: 0;
	width: 180px;
	color: #ffffff;
}

.content-middle__button span {
	font-size: 15px;
}

.content-middle__button_blue {
	background: #3a557c;
}

.content-middle__list {
	margin: 0;
	padding: 0;
}

.content-middle__item {
	font-family: ProximaNovaSemibold;
	list-style: none;
	line-height: 20px;
	margin: 0px 0 10px 19px;
}

.content-middle__item::before {
	position: relative;
	top: 1px;
	content: "";
	display: inline-block;
	margin: 0 10px 0 -22px;
	width: 7px;
	height: 7px;
	border: 2px solid #f6b431;
	border-radius: 50%;
}

.content-middle__video {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	box-sizing: border-box;
	padding: 34px;
	margin-bottom: 30px;
	width: 100%;
	height: 245px;
	background: #000000 url('img/video-placeholder.png');
	background-size: cover;
}

.content-middle__youtube {
	width: 100%;
	position: absolute;
    top: 0;
    left: 0;
}

.video__text {
	margin: 0;
	font-size: 16px;
	color: #ffffff;
}

.video__text::before {
	position: relative;
    top: 5px;
	font-family: FontAwesome;
	content: "\f01d";
	font-size: 32px;
	cursor: pointer;
	margin: 0 21px 0 0;
}

.video__text_hide {
	display: none;
}

.content-middle__block-wrapper_right {
	position: absolute;
	bottom: 56px;
	left: 40px;
	right: 40px;
}

.content-middle__blocks-middle {
	width: 100%;
	height: auto;
}

.content-middle__rect {
	display: flex;
	float: left;
	box-sizing: border-box;
	padding: 10px;
	width: 33.3%;
	height: 108px;
	background: #3a557c;
}

.content-middle__rect_grey {
	background: #466289;
}

.content-middle__rect_darkergrey {
	background: #253957;
}

.content-middle__rect_grey-2 {
	background: #516e96;
}

.content-middle__rect_blue {
	background: #4771af;
}

.content-middle__rect_wrapper {
	display: block;
	position: relative;
	margin: auto;
	width: 300px;
	height: 42px;
	color: #ffffff;
	text-decoration: none;
}

.content-middle__rect_wrapper::before {
	position: absolute;
	right: 0;
	font-family: FontAwesome;
	content: "\f002";
	color: #324a6d;
	font-size: 25px;
	cursor: pointer;
}

.content-middle__rect-title {
	margin: 0;
	font-size: 18px;
}

.content-middle__rect-text {
	margin: 0;
	font-size: 13px;
}

.content-middle__blocks-bottom {
	width: 100%;
	height: 63px;
	box-sizing: border-box;
	font-family: ProximaNovaSemibold;
	font-size: 14px;
	text-transform: uppercase;
	border-bottom: 1px solid #ede9e9;
	background: #fbfbfb;
}

.container__content-middle {
	display: table;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	table-layout: fixed;
}

.content-middle__bottom-block {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	text-decoration: none;
	color: #63727a;
}

.content-middle__bottom-block_left {
	width: 32.3%;
}

.content-middle__bottom-block:nth-child(2) {
	padding-left: 54px;
}

.content-middle__bottom-block:last-child {
	padding-left: 18px;
}

.content-middle__bottom-block:first-child {
	border-right: 1px solid #ede9e9;
}

.content-bottom {
	font-family: ProximaNovaLight;
	font-size: 14px;
	color: #324a6d;
	background: #ffffff;
}

.container__content-bottom {
	position: relative;
	box-sizing: border-box;
}

.content-bottom__wrapper {
	margin: auto;
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 450px;
}

.content-bottom__block {
	display: table-cell;
	box-sizing: border-box;
	vertical-align: top;
	padding: 30px 45px 0 0;
}

.content-bottom__left {
	width: 32.3%;
	border-right: 1px solid #ede9e9;;
}

.content-bottom__center {
	padding-left: 40px;
}

.content-bottom__right {
	position: relative;
	padding: 15px;
}

.content-bottom__block-wrapper {
	/*margin-bottom: 66px;*/
}

.content-bottom__block-title {
	font-size: 16px;
	color: #f6b431;
	text-decoration: none;
}

.content-bottom__block-text {
	margin: 10px 0 0 0;
	font-size: 14px;
}

.content-bottom__block-signature {
	display: block;
	margin: 0;
	margin-bottom: 66px;
	color: #aeb3ba;
}

.video-wrapper {
	position: relative;
	width: 100%;
	margin-bottom: 5px
}

.content-middle__youtube-bottom {
	position: static;
	width: 100%;
	height: 222px;
}

/*.content-middle__video_bottom {
	position: static;
}*/

.content-middle__video_bottom {
	width: 100%;
	height: 222px;
	position: absolute;
	background: url(img/video-bottom.png) no-repeat;
	background-size: cover;
}

.footer-top {
	width: 100%;
	height: auto;
	font-family: ProximaNovaLight;
	background: #253957;
}

.footer__wrapper {
	display: table;
	width: 100%;
}

.footer__blocks {
	display: table-cell;
	box-sizing: border-box;
	padding-bottom: 70px;
}

.footer__blocks_border {
	border-right: 1px solid #344d71;
}

.footer__blocks_left {
	width: 32.3%;
}

.footer__title {
	padding-top: 35px;
	font-size: 18px;
	color: #f6b431;
}

.footer__list {
	margin: 0;
	padding: 0;
	font-size: 13px;
	list-style: none;
}

.footer__item {
	padding: 0;
	margin-bottom: 7px;
}

.footer__link {
	color: #ffffff;
	text-decoration: none;
}

.footer__blocks_2 {
	padding-left: 40px;
	width: 20.3%;
}

.footer__blocks_3 {
	padding-left: 43px;
}

.footer__item_2,
.footer__item_3 {
	margin-bottom: 17px;
}

.footer__item_br {
	margin-bottom: 50px;
}

.footer__blocks_right {
	text-align: left;
	vertical-align: bottom;
}

.footer-bottom {
	font-family: ProximaNovaLight;
	font-size: 13px;
	color: #59759c;
	background: #344d71;
}

.footer-bottom__container {
	padding: 25px 10px 117px 10px;
	position: relative;
	box-sizing: border-box;
}

.footer-bottom__block_text {
	margin: 0;
	width: 76%;
}

.header-bottom__right_footer {
	position: absolute;
	top: -54px;
	right: 0;
	padding-right: 0;
}

@media screen and (max-width: 1190px) {
	.header-top__logo {
		margin-left: 5px;
	}

	.content-middle__block {
		padding: 15px;
	}

	.content-middle__button,
	.content-middle__block-wrapper_right {
		bottom: 20px;
		left: 15px;
		right: 15px;
	}

	.content-bottom__block-wrapper,
	.content-middle__bottom-block_left {
		box-sizing: border-box;
		padding-left: 10px;
	}

	.footer__blocks_left {
		padding-left: 10px;
	}
}

@media screen and (max-width: 930px) {
	.header-bottom__left {
		width: 60%;
	}

	.header-bottom__right {
		width: 40%;
	}


	.header-bottom__tel-number {
		font-size: 20px;
	}

	.bottom-tex__par {
		width: 300px;
		font-size: 14px;
	}

	.content-middle__blocks-top {
		display: flex;
    	flex-direction: column;
    	width: 100%;
     	height: auto; 
	}

	.content-middle__block-wrapper_right {
		display: block;
		margin: 5px;
	}

	.content-middle__block_left,
	.content-middle__block_center,
	.content-middle__block_right {
		width: 100%;
	}

	.content-middle__block_left {
		height: 300px;
	}

	.content-middle__block_center {
		height: 350px;
	}

	.content-middle__block_right {
		height: 450px;
	}
}

@media screen and (max-width: 730px) {
	.content-top,
	.content-top__bg {
		height: 550px;
	}

	.container_content-top {
		padding: 0;
	}

	.title-block__title {
		margin-bottom: 10px;
	}

	.container_content-top__bottom {
		display: block;
		box-sizing: border-box;
    	padding: 10px 20px;
	}

	.content-top__contact-block {
		float: right;
		margin-top: -515px;
	}

	.bottom-tex__par {
		float: left;
		width: 400px;
		font-size: 20px;
	}

	.contact-block__arrow {
		float: right;
	}

	.content-middle__block_left {
		flex-shrink: 4;
	}

	.content-middle__block_center {
		flex-shrink: 1;
	}

	.content-middle__block_right {
		flex-shrink: 2;
	}

	.content-middle__rect {
		float: none;
		width: 100%;
	}

	.content-bottom__block {
		display: block;
		padding-top: 15px;
	}

	.content-bottom__left {
		padding-left: 40px;
	}

	.content-bottom__block-signature {
		display: block;
		margin-bottom: 15px;
	}

	.content-bottom__left,
	.content-middle__bottom-block_left {
		width: auto;
		border: none;
	}

	.content-middle__bottom-block:first-child {
		border: none;
	}

	.footer__blocks {
		width: auto;
	}
}

@media screen and (max-width: 530px) {
	.header-top {
		font-size: 20px;
	}

	.header-bottom__left {
		width: 50%;
	}

	.header-bottom__right {
		width: 50%;
	}

	.menu-icon {
		display: block;
		cursor: pointer;
	}

	.main-menu {
		display: none;
	}

	.main-menu_mob {
		display: none;
		position: absolute;
		z-index: 100;
		width: 100%;
		height: 100%;
		padding-top: 40px;
		background: rgba(52, 72, 113, 0.9);
	}

	.main-menu_mob-cross {
		position: fixed;
		z-index: 110;
		top: 30px;
		right: 10px;
		display: block;
		width: 30px;
		margin: -25px 25px 0 0;
		font-size: 50px;
		color: #ffffff;
		cursor: pointer;
	}

	.main-menu__list_mob {
		display: block;
		position: fixed;
	}

	.main-menu__item_mob {
		display: block;
		text-align: center;
	}

	.main-menu__second-lvl_mob {
		display: block;
		list-style: none;
	}

	.main-menu__link_second_mob {
		color: #f6b431;
	}

	.main-menu__link_mob span {
		visibility: visible;
	}

	.main-menu__item:first-child .main-menu__link {
		background: unset;
	}

	.content-top__bottom-text {
		height: 60px;
	}

	.bottom-tex__par {
		font-size: 14px;
		width: 300px;
	}

	.contact-block__arrow-link {
		font-size: 26px;
	}

	/*.content-top__contact-block {
		margin-top: -490px;
	}*/

	.content-middle {
		font-size: 11px;
	}

	.container_content-top__bottom {
		padding: 5px 5px;
	}

	.content-middle__block_left {
		height: 340px;
	}

	.content-middle__block_center {
		height: 400px;
	}

	.content-middle__block_right {
		height: 500px;
	}

	.content-middle__block {
		padding: 5px;
	}

	.content-middle__title {
		font-size: 16px;
		margin-bottom: 10px;
	}

	.content-middle__button,
	.content-middle__block-wrapper_right {
		bottom: 5px;
		left: 5px;
		right: 5px;
	}

	.footer__blocks {
		display: block;
		padding: 0 0 0 10px;
	}

	.footer__title {
		padding: 0;
	}
}

@media screen and (max-width: 430px) {
	.header-top {
		height: auto;
		line-height: 45px;
	}

	.header-top__logo {
		float: none;
		/*width: 100%;*/
		text-align: center;
	}

	.header-top__social {
		float: none;
		display: block;
		text-align: center;
		width: 100%;
		margin: 0 auto;
	}

	.header-bottom {
		height: 35px;
		line-height: 35px;
	}

	.header-bottom__left {
		width: 100%;
	}

	.header-bottom__right {
		float: left;
		width: 100%;
		height: 35px;
	}

	.header-bottom__tel-number {
		line-height: 35px;
	}

	.header-bottom__handset {
		height: 35px;
	}
	
	.header-bottom__right::after {
		display: none;
	}

	.content-top__title-block {
		left: 5px;
		width: auto;
	}

	.title-block__title {
		margin-top: 10px;
		font-size: 30px;
	}
	
	.content-top__contact-block {
		width: 100%;
		height: 370px;
		padding: 5px;
		margin-top: -450px;
		box-sizing: border-box;
	}

	.input-field {
		width: 95%;
		height: 30px;
	}

	.bottom-tex__par {
		margin: auto;
		font-size: 10px;
    	width: 90%;
	}

	.content-middle__blocks-bottom {
		font-size: 10px;
	}

	.container__content-middle {
		table-layout: auto;
	}

	.content-middle__bottom-block:nth-child(2) {
		padding-left: 5px;
	}

	.content-bottom__wrapper {
		padding-top: 15px;
	}

	.content-bottom__block {
		padding: 0 15px;
	}

	.footer-top {
		padding-bottom: 40px;
	}

	.header-bottom__right_footer {
		top: -35px;
	}
}













